
*{
	box-sizing: border-box;
}


.main-container{
     width: auto;
     margin: 0 auto; 
     background-color: whitesmoke;
     font-family: 'Raleway', sans-serif;
}

header{
 	text-align: center;
     width: 100%;
     height:500px;
     position: relative;
     color: whitesmoke;
}

.banner{
     height: 500px;
     width: 100%;
     background-color: coral;
}
/*
.carousel-inner > .item > img,
  .carousel-inner > .item > a > img {
      width: 100%;
      margin: auto;
  }

.container{
     max-height: 20em;
     width: 100%;
}
*/

.welcome_header{
  	width: 70%;
    margin: auto;
    position: absolute;
    top: 300px;
    bottom: 0;
    left: 200px;
    height: 250px; 
}

.welcome{
  font-size:5em;
  margin-bottom: 10px;
}

nav{
	width:100%;
}

.pill-button { 
     display: inline-block;
     padding: 10px 20px;
     margin-right: 1em;
     background-color: whitesmoke;
     text-decoration:none;  
     color:black;
} 

.pill-button:hover{
    color: white;
		background-color:black;
}

.section_one{
     display: flex;
     text-align: center;
     margin-top: 180px; 
}

.welcome_message{
  height: 100%;;
  width: 500px;
  margin: 0 100px;
  border:solid black 3px;
  padding: 40px;
  
}

.bodyCopy{
	text-align:left;
	height:100%;
	word-wrap: break-word;
}

.column_two{
	margin-right: 80px;
}

.coffee_text{
     height: 150px;
     border:solid black 3px;
     width: 100%;
     color: white;
     padding-left: 2em;
     padding-right: 2em;
     overflow: hidden;
     background: url('https://hd.unsplash.com/photo-1452882033718-1caccfcfe77f') ;
  background-size: cover;
}



.service_times{
  border:solid black 3px;
  height: 125px;
  margin-top: 46px;
  width: 100%;
     padding: 15px;
}

.space_container{
  width:100%;
  height:100px;
  background-color:black;
  margin-bottom: 70px;
}

.n_s{
  font-size: 72px;
  color: white;
  text-align: center;
}

.pill-button_nS { 
     display: inline-block;
     padding: 2% 2%;
     background-color: black;
     text-decoration:none;  
     color: white;
} 

.pill-button_nS:hover{
    color: black;
		background-color:white;
}

.groupLife{
  display:flex;
/*  justify-content: flex-start;*/
  border:3px solid black;
  height: 306px;
/*  width:100%; */
  margin-bottom: 70px;
}

.gL{
  position:absolute;
  font-size: 60px;
  left: 75px;
  margin-top: 110px
}

.graphic_name{
     width: 200em;
     overflow: hidden;
     background-color: coral;

}

.groupGraphic{
     width:50%;
     background-color: coral;

}

.groupLife_content {
  padding: 40px;
}

.groupLife_content p {
  padding-bottom: 20px;
}


.growthTrack{
  display:flex;
  border:3px solid black;
  height: 306px;
  width:100%;
  margin-bottom: 70px;
}

.gT{
  position:absolute;
  font-size: 60px;
  left: 45px;
  margin-top: 110px
}


.growthGraphic{
     width: 100%;
     background-color: coral;
}

.growthTrack_content{
  padding:40px;
}

.growthTrack_content p {
  padding-bottom: 20px;
}


.volunteer{
  display:flex;
/*  justify-content: flex-start;*/
  border:3px solid black;
  height: 306px;
  width:100%;
  margin-bottom: 70px;
}

.volGraphic{
     width:50%;
     background-color: coral;

}

.v{
  position:absolute;
  font-size: 60px;
  left: 75px;
  margin-top: 110px
}


.giving_icons{
  display:flex; 
  margin: 50px;
  justify-content: space-between;
}

.online h3{
  margin-left: 40px;
}

.kiosk h3{
  margin-left: -10px;
}

.service h3{
  margin-left: 15px;
}

.text h3{
  margin-left:-3px;
}

.mail h3{
  margin-left: 18px;
}

.row1{
     display:flex;
     justify-content:space-between;
     margin: 80px;
     height: 400px;
}

.annc1{
     margin-right: 3em;
     width: 30em;
     border: 3px solid black;
     text-align: center; 
}

.childrens{
/*     height:100;*/
     width:100%;
}

article {
     max-height: 9em; /* (4 * 1.5 = 6) */
     padding: 10px;
}
p{
     width:100%;
}

a{
     text-decoration: none;
}

.annc2{
  width: 30em;
  border: 3px solid black;
  text-align: center; 

}

.youth{
         width:100%;

}

.row2{
     display:flex;
     justify-content:space-between;
     margin: 80px;
     height: 400px;
}

.annc3{
     width: 30em;
     margin-right: 3em;
     border: 3px solid black;
     text-align: center; 
}

.baptism{
     width:100%; 
}     

.annc4{
     width: 30em;
     border: 3px solid black;
     text-align: center;
}

.fallGraphic{
     height:400px;
     background-image: url(https://hd.unsplash.com/photo-1429198739803-7db875882052);
     background-size: cover;
     background-position: bottom;
     background-repeat: no-repeat;
     overflow: hidden;
     padding: 20px;
}

.row3{
     display:flex;
     justify-content:space-between;
     margin: 80px;
     height: 400px;
}

.oneX{
     width: 30em;
     margin-right: 3em;
     border: 3px solid black;
     text-align: center; 

}

.oX{
 width:100%;

}

.iYi{
 width: 30em;
  border: 3px solid black;
  text-align: center; 
}

.asteric{
     width: 100%;
}

.eventContent{
    margin: 80px;
    height: 800px;
    display: block;
}

.calendar{
    height: 50%;
    width: 100%;
    border: 3px solid black;
    padding: 30px;
		
}

th, td {
     font: 8em;
  padding: 5px;}

th{
     font: 8em;
  padding-right: 5px;
}

#thisMonth {
     width:100%;	
}

#nextMonth{
  margin-top: 10px;
	width:100%;

}

.mainEvents{
    display: flex;
    width: 100%;
}

.eventLinks: hover{
     border-color: black;
}

.event1{
      height: 33.33%;
    /* padding-bottom: 10%; */
    /* width: 100%; */
    border: 3px solid transparent;
     overflow: hidden;
}

.ev1{
position: relative;
    left: -10%;
    width: 120%;
}

.event2{
      height: 33.33%;
    /* margin-top: 20px; */
    /* width: 100%; */
    border: 3px solid transparent;
     overflow: hidden;
}

.ev2{
    position: relative;
    left: -10%;
    width: 125%;
}

.event3{
      height: 33.33%;
    /* margin-top: 20px; */
    /* width: 50%; */
    border: 3px solid transparent;
     overflow: hidden;
}

.ev3{
   position: relative;
    left: -10%;
    width: 125%;
}


.icons{
  display: flex;
	align-items: center;
	margin-bottom: 80px;
}


.google{
  width: 35em;
}

.gd{
	width: 60%;
	margin-left: 90px;
}

.apple{
	
  width:30%;
}

footer{
  background-color:black;
  height: 400px;
	width: 100%;
	margin:auto;
}

.mediaIcons{
	  display: flex;
    position: relative;
    top: 3em;
		left: 33%;  
	  margin-bottom: 30px;
}

.watch{
	margin-right: 3em;
  width: 3%;
}

.facebook{
	margin-right: 3em;
  width: 2%;
}

.twitter{
	margin-right: 3em;
  width: 5%;
}

.instagram{
	margin-right: 3em;
  width: 4%;
}

.googlePlus{
	margin-right: 3em;
  width: 6%;
}

.name{
  display:flex;
  justify-content:center;
  font-size:2em;
  color:white;
	margin-top: 40x;
  margin-bottom: -50px;
}

.contactInfo{
  display: flex;
  justify-content: space-between;
  margin-left: 150px;
  margin-right: 150px;
  color:white;
  
}

.buttons{
  display:flex;
  justify-content: center;
  margin-left: 100px;
}

footer .pill-button{
  padding: 5px;
  color:black;
  text-decoration:none;
  background-color: whitesmoke;
}